.formulario_producto{
    border: 1px solid black;
    background-color: #d3d09679;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.formulario_producto form{

}
.formulario_producto form label{
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.formulario_producto form input{
    width: 90%;
    box-sizing: border-box;
}
#textarea_formularioproducto{
    margin-top: 10px;
    width: 80%;
}
.formulario_producto form button{
    align-self: center;
    margin-left: 35%;
    width: 30%;
    margin-bottom: 20px;
}